.Toolbar {
  height: 20vh;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Toolbar h1 {
  margin-bottom: 0;
  font-size: 3em;
}

.Logo {
  display: none;
}

.Desktop {
  display: none;
}

@media (min-width: 475px) {
  .Toolbar {
    justify-content: space-between;
  }
  .Toolbar h1 {
    font-size: 2em;
  }
  .Logo {
    display: inline-block;
  }
}

@media (min-width: 770px) {
  .Desktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .Toolbar h1 {
    font-size: 3em;
  }
}