.NavigationElements {
  height: 15%;
  margin: 30px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
  list-style: none;
}

.Element a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.Element a:hover {
  color: lightgrey;
}

@media (min-width: 769px) {
  .NavigationElements {
    height: 100%;
    margin: 0;
    justify-content: normal;
    flex-flow: row;
  }
  .Element a {
    margin: 5px 5px 0 5px;
  }
}

.active {
  border-bottom: 2px solid black;
}