.Sidebar {
  width: 70vw;
  height: 100%;
  background-color: white;
  border-right: 2px solid black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: 0.3s;
}

.NavigationElements {
  width: 100%;
  height: 100%;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@media (min-width: 769px) {
  .Sidebar {
    display: none;
  }
}