.MetronomeControls {
  width: 80%;
  height: 60%;
  margin: 20px auto 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 1.3em;
}

.Minute {
  width: 90%;
  text-align: center;
}

.Range {
  width: 90%;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background: black;
  outline: none;
  font-size: 1em;
}

.Range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: black;
  border-radius: 50%;
  cursor: pointer;
}

.Range:active::-webkit-slider-thumb {
  background-color: lightpink;
}

.Bold {
  width: 1.5em;
  display: inline-block;
  font-size: 1.5em;
}

input[type="radio"] {
  display: none;
}

.Measure label {
  width: 25px;
  display: inline-block;
  margin: 0 5px;
  font-size: 1.5em;
  cursor: pointer;
}

.Measure label:hover {
  color: lightseagreen;
}

.Measure input[type="radio"]:checked + label {
  border-bottom: 3px solid black;
}

.Play {
  width: 70px;
  height: 70px;
  display: block;
  outline: none;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  color: black;
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s;
}

.Play:before {
  content: "";
  background-color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
}

.Play:hover {
  background-color: lightgreen;
  color: white;
  border-color: lightgreen;
}

.Play:hover:before {
  animation: bubble 1s;
}

@keyframes bubble {
  50% {
    transform: scale(2.3, 2.3);
    opacity: 0;
  }
  99% {
    transform: scale(0.001, 0.001);
    opacity: 0;
  }
  100% {
    transform: scale(0.001, 0.001);
    opacity: 1;
  }
}

@media (min-width: 475px) {
  .MetronomeControls {
    font-size: 1.7em;
  }
  .Play {
    width: 90px;
    height: 90px;
    font-size: 1em;
  }
  .Range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
}


