* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.piano {
  height: 50vh;
  display: flex;
  width: 90vw;
  margin: 0 auto;

}
.white {
  border: 2px solid black;
  z-index: 1;
  height: 100%;
  width: calc(100%/15);

}
.black {
  border: 2px solid black;
  z-index: 2;
  background: black;
  height: 60%;
  width: calc((100%/15)/2);
  margin: 0 -1.5vw;
}

.white:hover {
  background: grey;
}

.black:hover {
  background: grey;
  border: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .white {
    width: calc(100%/8);
  }
  .black {
    width: calc((100%/8)/2);
    margin: 0 -3vw;
  }

}